<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>
    
    <title>Sari Sari Store</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet"/>
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="../../static/js/homepageadmin.js" th:src="@{/js/homepageadmin.js}"></script>
  </head>

  <body ng-controller="MainCtrl">
    
    <ion-nav-view></ion-nav-view>
    
  </body>
</html>